@model PersonDetails

@{
    ViewBag.Title = "PersonDetails";
}

<h2>PersonDetails</h2>

<div>
    @Html.PropertyFor(model => model.Name)
</div>

<div>
    @Html.PropertyFor(model => model.Interest)
</div>


<div>
    @Html.PropertyFor(model => model.School)
</div>

<div>
    @Html.PropertyFor(model => model.Parent)
</div>

<div>
    @Html.PropertyFor(model => model.Company)
</div>

<div>
    @Html.PropertyFor(model => model.Wife)
</div>


