@model PersonDetails

@{
    ViewBag.Title = "PersonDetails";
}

<h2>PersonDetails</h2>

<div>
    @Html.PropertyFor(model => model.Name)
</div>

<div>
    @Html.PropertyFor(model => model.Interest)
</div>

<div>
    @Html.PropertyFor(model => model.Company)
</div>

<div>
    @Html.PropertyFor(model => model.Wife)
</div>

<div>
    @Html.PropertyFor(model => model.Age)
</div>

<div>
    @Html.PropertyFor(model => model.Birthday)
</div>

<div>
    @Html.PropertyFor(model => model.Resume)
</div>

<div>
    @Html.PropertyFor(model => model.Description)
</div>

